.decision-wrap {
    position: relative;
}

.decision-wrap .dec-bg {
    position: absolute;
    /* left: calc(50% - 1441px/2 + 249.5px); */
    left: 50%;
    /* bottom: 100%; */
    top: 147px;
    background-image: url('../img/decision-imgbg.png');
    width: 1441px;
    height: 1179px;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.3;
}

.decision-body {
    display: flex;
    position: relative;
}

@media all and ( max-width:1200px) {
    .decision-body {
        flex-direction: column;
    }
}

.decision-body img {
    width: 100%;
    max-width: 583px;
    height: auto;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
}

@media all and ( max-width:1200px) {
    .decision-body img {
        max-width: 90%;
        align-self: center;
    }
}

.decision-body p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(0, 0, 0, 1);
    margin-left: 50px;
}

@media all and ( max-width:1200px) {
    .decision-body p {
        margin-top: 50px;
        margin-left: 0;
        padding: 0 10px;
    }
}