.form-body .left-side {
    border: 1px solid #ddd;
}

.form-body .left-side .left-acc-wrap .left-acc-top {
    /* background-color: red; */
    border-bottom: 1px solid #ddd;
    color: #3F77B6;
}

.form-body .left-side .left-acc-wrap .left-acc-top p {
    color: #3F77B6;
}

.form-body .left-side .left-acc-wrap .left-acc-top:hover {
    cursor: pointer;
}

.form-body .left-side .left-acc-wrap .left-acc-under {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: none;
}

.form-body .left-side .left-acc-wrap .left-acc-under li {
    border-bottom: 1px solid #ddd;
    color: #3F77B6;
    background-color: #FBFBFC;
    transition: all 0.2s linear;
}

.form-body .left-side .left-acc-wrap .left-acc-under li:hover {
    background-color: white;
}

.form-body .left-side .left-acc-wrap .left-acc-under li a {
    transition: all 0.2s linear;
    text-decoration: none;
    width: 100%;
}

.form-body .right-side .top-title h4 {
    margin-bottom: 20px;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 26px;
    line-height: 1.625rem;
    font-weight: 500;
    padding-bottom: 5px;
    margin-top: 30px;
    color: #0F4C90;
    border-bottom: 1px solid #0F4C90;
}

.form-body .right-side form label:not(.checkbox-label):after {
    display: inline-block;
    margin-left: 5px;
    content: "*";
    color: #B22029;
    box-sizing: border-box;
}

.form-body .right-side form label.checkbox-label:hover {
    cursor: pointer;
}

.form-check-input:hover {
    cursor: pointer;
}

.form-body .right-side form .hide-check-form,
.slide-gpa,
.gpa-small-text,
.scholarship-slide,
.universityohter-slide,
.ankara-slide,
.plan-univer-slide {
    display: none;
}

.refresh-btn {
    /* background-color: red; */
    border: 2px solid lightskyblue;
    outline: none;
    transition: all 0.2s linear;
    background-color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 6px;
}

.refresh-btn:hover {
    background-color: lightskyblue;
}

.form-body .right-side form .border-file {
    border: 1px dashed #ccc;
    position: relative;
    transition: all 0.2s linear;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
}

.form-body .right-side form .border-file:hover {
    border: 1px dashed #1010b6;
}

.form-body .right-side form .border-file label {
    background-color: #EEEEEE;
    padding: 5px 20px;
    color: black;
    transition: all 0.2s linear;
    margin-right: 10px;
    margin-bottom: 0;
    width: 150px;
}

.form-body .right-side form .border-file:hover label {
    color: white;
    background-color: #1010b6;
}

.form-body .right-side form .border-file label:hover {
    cursor: pointer;
}

input[type="file"] {
    border: none;
    /* width: 100%; */
    outline: none;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.form-body .right-side form input.captcha {
    border: none;
    outline: none;
}

.form-body .right-side form button[type="submit"] {
    padding: 5px 30px;
    border-radius: 50px;
    height: 50px;
    border-color: #0F4C90;
    color: #0F4C90;
    background-color: white;
}


.card-submit-btn {
    padding: 5px 30px;
    border-radius: 50px;
    height: 50px;
    border-color: #0F4C90;
    color: #0F4C90;
    background-color: white;
}