.learning-english-page p {
    font-size: 20px;
    word-spacing: 5px;
    line-height: 26px;
    margin-bottom: 15px;
}

.learning-english-page h1 {
    margin-bottom: 20px;
}

.learning-english-page img {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 40px 10px rgb(0 0 0 / 25%);
    margin: 20px 0;
}