.page-two-body {
    position: relative;
}

.page-two-body .wrap-section-1 {
    display: flex;
    justify-content: center;
    background-image: url('https://www.etu.edu.tr//views/etu/assets/img/3_donem_egitim/is_hayatina_okurken_hazirlanin.png?v=1.02');
    background-position: center 102%;
    background-size: 1200px auto;
    background-repeat: no-repeat;
    padding: 100px 20px 320px;
}

.page-two-body .wrap-section-1 .section-1 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
}

.page-two-body .wrap-section-1 .section-1 a.section-link {
    border-radius: 56px;
    font-size: 20px;
    padding: 15px 56px;
    border: 2px solid;
    border-color: #0F4C90;
    color: #0F4C90;
    margin-top: 20px;
}

.page-two-body .section-2 {
    /* background-color: #EFF1F0; */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.page-two-body .section-2 .inner-item {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 50%;
    text-align: center;
}

.page-two-body .section-2 .inner-item table th,
td {
    width: 250px;
    padding: 15px;
}

.page-two-body .section-2 .inner-item table td {
    background-color: white;
}

.page-two-body .section-2 .inner-item table td.highlight {
    background-color: #EFF5FC;
}

.page-two-body .section-3 .inner-info {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
    width: 50%;
}

.page-two-body .section-3 table thead tr th {
    background-color: #F5F5F6;
    padding: 15px;
}

.page-two-body .section-3 table tbody tr td.highlight {
    background-color: #EFF5FC;
}

.page-two-body .section-3 table tbody tr td.highlight-2 {
    background-color: #FEFAF1;
}

.page-two-body {
    overflow: hidden;
}

.page-two-body .section-5 {
    display: grid;
    grid-template-columns: auto auto auto;
}

.page-two-body .section-5 .inner-wrap-item {
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* filter: brightness(0.4); */
    position: relative;
}

.page-two-body .section-5 .inner-wrap-item .inner-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.4);
}

@media only screen and ( max-width:768px) {
    .page-two-body .wrap-section-1 .section-1 {
        width: 90%;
    }
    .page-two-body .section-2 .inner-item {
        width: 90%;
    }
    .page-two-body .section-3 .inner-info {
        width: 90%;
    }
    .page-two-body .section-5 {
        grid-template-columns: auto;
    }
}