.reseversion-body {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 3fr;
    transition: all 0.2s linear;
}

@media only screen and ( max-width:768px) {
    .reseversion-body {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr;
    }
}

.reseversion-body .item-1 {
    /* background-color: red; */
    border: 1px solid #ddd;
}

.reseversion-body .item-1 .wrap-box {
    padding: 15px 45px 15px 15px;
    color: #0F4C90;
    border-bottom: 1px solid #ddd;
    font-size: 17px;
    transition: all 0.2s linear;
}

.reseversion-body .item-1 .wrap-box:hover {
    background-color: #EFF5FC;
}