@import 'aboutUs.css';
@import 'academicLang.css';
@import 'academicTash.css';
@import 'board.css';
@import 'decision.css';
@import 'history.css';
@import 'rectorship.css';
@import 'univercity.css';
@import 'common.css';
@import 'academic.css';
@import 'garage.css';
@import 'tobb.css';
@import 'second.css';
@import 'undergraduate.css';
@import 'formpage.css';
@import 'news.css';
@import 'singlenews.css';
@import 'pageOne.css';
@import 'pageTwo.css';
@import 'calendar.css';
@import 'contact.css';
@import 'reseversion.css';
@import 'enter.css';
:root {
    --red: #b22029;
    --gray: #e2e2e2;
    --dark-gray: #d9d9d9;
    --light-gray: #b3b2b2;
    --blue: rgba(15, 76, 144, 1);
}

html {
    scroll-behavior: smooth;
}

header .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: 20px;
    /* background-color: red; */
    position: absolute;
    top: 60px;
    z-index: 9;
    width: 100%;
}

header .header-nav .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

header .header-nav .left-item img {
    height: auto;
    width: 100px;
    /* margin-top: 40px; */
}

header .header-nav .right-item ul {
    /* background-color: blue; */
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-right: 20px;
    transition: all 0.2s linear;
    justify-content: flex-end;
}

header .header-nav .right-item ul li i {
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: none;
}

@media all and ( max-width:768px) {
    header .header-nav .right-item ul li i {
        display: flex;
    }
}

header .header-nav .right-item ul li i:hover {
    cursor: pointer;
}

@media all and ( max-width:768px) {
    header .header-nav .right-item ul li.menu {
        display: none;
    }
}

header .header-nav .right-item ul li a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.breadcrumb {
    margin-bottom: 0rem !important;
    background-color: transparent !important;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    overflow-x: hidden !important;
    position: relative;
}

.under-nav {
    background-color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    height: 30px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    align-content: center;
    z-index: 99999;
}

.under-nav p {
    font-size: 14px;
    font-weight: 700;
    color: red;
    white-space: nowrap;
    position: absolute;
    animation-name: titleText;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes titleText {
    from {
        left: 100%;
    }
    to {
        left: -20%;
    }
}

div.mob-menu {
    /* padding: 20px; */
    position: fixed;
    right: -350px;
    top: 0;
    width: 300px;
    height: 100vh;
    background-color: white;
    z-index: 999;
    transition: all 0.2s linear;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgba(25, 44, 113, 1);
}

.landing-content {
    overflow: hidden;
}

div.mob-menu div {
    width: 85%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 20px;
}

div.mob-menu div img {
    width: 150px;
}

div.mob-menu ul.inner-mob-menu {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    overflow-y: auto;
}

@media all and ( max-width:768px) {
    div.top-mob-menu {
        display: none;
    }
}

div.mob-menu ul.inner-mob-menu li a.sub-menu i {
    margin-right: 10px;
    transition: all 0.2s linear;
}

.angle-down {
    transform: rotate(180deg);
}

div.mob-menu ul.inner-mob-menu li .under-sub-menu {
    width: 100%;
    padding: 10px;
    background-color: white;
    display: none;
    font-size: 14px;
}

div.mob-menu ul.inner-mob-menu li .under-sub-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div.mob-menu ul.inner-mob-menu li .under-sub-menu ul li a {
    color: var(--red) !important;
}

div.mob-menu ul.inner-mob-menu li {
    padding: 10px 20px;
}

div.mob-menu ul.inner-mob-menu li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

div.mob-menu div button {
    background-color: transparent;
    border: none;
    outline: none;
}

div.mob-menu div button i {
    font-size: 20px;
    color: white;
}

div.mob-menu div button i:hover {
    cursor: pointer;
}

p {
    margin: 0;
}

.main-top-nav-menu {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    align-content: center;
}

.main-top-nav-menu .right-menu {
    display: none;
}

.main-top-nav-menu .right-menu i {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.main-top-nav-menu .right-menu i:hover {
    cursor: pointer;
}

@media all and ( max-width:768px) {
    .main-top-nav-menu {
        width: 100%;
        justify-content: space-between;
    }
    .main-top-nav-menu .right-menu {
        display: flex;
    }
}

.main-page-first-content {
    display: flex;
}

@media all and ( max-width:998px) {
    .main-page-first-content {
        /* display: flex; */
        flex-direction: column;
    }
}

.main-page-first-content .main-page-first-content-right {
    width: 100% !important;
}

.main-page-second-content {
    display: flex;
}

@media all and ( max-width:998px) {
    .main-page-second-content {
        flex-direction: column;
    }
    .main-page-second-content .card-one,
    .card-two,
    .card-three {
        margin-top: 30px;
    }
    .main-page-second-content .card-news {
        max-width: 100%;
    }
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-start {
    align-items: flex-start;
}

.justify-between {
    justify-content: space-between;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.cg30 {
    column-gap: 10px;
}

.container {
    margin: auto !important;
    max-width: 1440px !important;
    /* width: 100%; */
    transition: all 0.2s linear !important;
}

@media all and ( max-width: 1440px) {
    .container {
        padding: 0 10px;
    }
}

nav {
    background-color: var(--red);
    padding: 0 20px;
}

nav .container {
    display: flex;
    justify-content: space-between;
}

nav a {
    font-size: 14px;
    color: white;
    text-align: center;
    padding: 17px 12px;
    text-decoration: none;
}

.dropdown {
    position: relative;
}

.dropdown .dropbtn {
    cursor: pointer;
    height: 100%;
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 12px;
    background-color: inherit;
    font-family: "Roboto", sans-serif;
    margin: 0;
    /* transition: all 0.2s linear; */
}

nav a:hover,
.dropdown:hover .dropbtn {
    background-color: white;
    color: var(--red);
}

.dropdown-content {
    transition: all 0.2s linear;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100%;
    z-index: 2;
}

.dropdown-content a {
    text-align: left;
    white-space: nowrap;
    color: var(--red);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--gray);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.btn {
    z-index: 2;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    letter-spacing: 0.02em;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    font-weight: 400;
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    overflow: visible;
}

.btn.btn-med {
    margin-right: 20px;
    font-size: 15px;
    height: 42px;
    line-height: 36px;
    padding: 0 34px;
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    -ms-border-radius: 48px;
    border-radius: 48px;
    -o-border-radius: 48px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    z-index: 2;
}

.btn.btn-lg {
    font-size: 20px;
    height: 56px;
    line-height: 46px;
    padding: 0 56px;
    -webkit-border-radius: 56px;
    -moz-border-radius: 56px;
    -ms-border-radius: 56px;
    border-radius: 56px;
    -o-border-radius: 56px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.btn-film {
    font-size: 28px;
    border: 5px solid #ffffff;
    padding: 25px;
    border-radius: 50%;
    width: 82px;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-film i {
    position: relative;
    left: 3px;
}

.btn:hover,
.btn:active,
.btn:focus {
    background-color: #fff;
    color: #0f4c90;
}


/* swiper */

.swiper-container {
    height: 80vh;
    min-height: 600px;
    width: 100%;
    background: #000;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    z-index: 1;
    position: relative;
}

.swiper-slide::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.65);
}

.swiper-slide {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

.mouse-scroll {
    display: inline-block;
    line-height: 18px;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    filter: alpha(opacity=85);
    -moz-opacity: .85;
    -khtml-opacity: .85;
    opacity: .85;
    letter-spacing: .1em;
    text-decoration: none;
    overflow: hidden;
    position: absolute;
    bottom: 50px;
    z-index: 9;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    text-align: center;
}

.mouse-scroll .mouse {
    position: relative;
    display: block;
    width: 40px;
    height: 64px;
    margin: 0 auto 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #FFF;
    border-radius: 23px;
}

.mouse-scroll .mouse .mouse-movement {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: #FFF;
    border-radius: 50%;
    -webkit-animation: scroll-ani 2s linear 3;
    -moz-animation: scroll-ani 2s linear 3;
    animation: scroll-ani 2s linear 3;
}

.mouse-scroll .mouse-message {
    margin: -200px 0 0 0;
    padding: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
}

.mouse-scroll:hover .mouse-message {
    opacity: 1;
}

.sliderNav {
    position: absolute;
    width: 140px;
    height: 42px;
    bottom: 100px;
    left: 100px;
    z-index: 9;
    transition: all 0.2s linear;
}

@media all and ( max-width: 768px) {
    .sliderNav {
        left: 20px;
        bottom: 20px;
    }
}

.sliderNavBorder {
    border: 1px solid #fff;
    width: 140px;
    height: 42px;
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
    -ms-border-radius: 42px;
    border-radius: 42px;
    -o-border-radius: 42px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    position: relative;
    color: #fff;
}

.nextSlide,
.prevSlide {
    position: absolute;
    line-height: 42px;
    height: 42px;
    width: 42px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    z-index: 99;
}

.nextSlide {
    right: 0;
}

.slide-content {
    margin: auto auto;
    bottom: 0;
    right: 0;
    left: 0;
    min-height: 100%;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    top: 65%;
    position: absolute;
    z-index: 5;
}

.slide-content .title {
    display: block;
    max-width: 960px;
    margin: 0 auto 70px;
    font-size: 44px;
    color: #fff;
    font-weight: 300;
    line-height: 64px;
}

@media all and ( max-width: 768px) {
    .slide-content .title {
        font-size: 30px;
    }
}

.swiper-button-disabled {
    opacity: 0.5;
}


/* //swiper */

.flex-content-container {
    display: flex;
    padding: 10px;
}

.flex-content-container:first-child {
    column-gap: 10px;
}

.flex-content-container:last-child {
    padding-bottom: 30px;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-content {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 430px;
    z-index: 200;
    height: 100%;
    padding: 20px;
}

.card-background {
    /* padding: 20px; */
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-background.orange {
    background: #f18b22;
    height: 100%;
}

.card-background.film {
    background-image: url("../img/card-7.jpg");
    height: 100%;
}

.card-content:not(.no-overlay)::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    content: "";
}

.card-content .title,
.inline-card .title {
    font-weight: bold;
    font-size: 26px;
    color: #ffffff;
    margin-bottom: 10px;
    z-index: 2;
}

.inline-card .title {
    margin: 0 40px;
}

.card-content .desc,
.inline-card .desc {
    font-weight: normal;
    font-size: 18px;
    color: #ffffff;
    z-index: 2;
    margin-bottom: 50px;
    padding: 0 20px;
}

.inline-card .desc {
    margin: 0;
    margin-right: 50px;
}

.card-footer {
    display: flex;
    align-items: center;
    padding: 30px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.card-footer a {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--blue);
}

.card-news {
    max-width: calc(33.33333333% - 22px);
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.news-content {
    max-height: 419px;
    overflow-y: auto;
}

.news-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px 20px 20px 50px;
}

.news-header .desc {
    color: var(--light-gray);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.04em;
}

.news-item {
    display: flex;
    justify-content: space-between;
    margin: 0 25px;
    padding: 25px;
}

.news-item:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.news-item img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 30px;
}

.news-item .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.news-item .desc {
    color: var(--light-gray);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    margin-bottom: 8px;
}

.news-item .title {
    color: var(--blue);
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.04em;
}

.news-item .time {
    color: var(--light-gray);
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.04em;
    display: flex;
    align-self: flex-start;
}

.inline-card {
    position: relative;
    display: flex;
    height: 300px;
    margin-top: 10px;
    align-items: center;
    /* padding: 20px; */
}

.inline-card::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    content: "";
}

.main-page-first-content-top-box {
    display: flex;
}

@media all and ( max-width:768px) {
    .main-page-first-content-top-box {
        flex-direction: column;
    }
    .main-page-first-content-top-box .card {
        margin-top: 30px;
    }
}

.first-content-group {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.first-content-group>div {
    column-gap: 10px;
}

.second-content-group {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: calc(33.3333% - 20px);
}

@media all and ( max-width:998px) {
    .second-content-group {
        max-width: 100%;
        margin-top: 30px;
    }
}

.second-content-group>div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 470px;
}

.second-content-group .title {
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #ffffff;
    z-index: 2;
    margin: 20px;
}

.second-content-group .desc {
    display: flex;
    align-items: flex-end;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.15em;
    color: var(--dark-gray);
    z-index: 2;
    margin: 30px 20px;
}

.second-content-group .desc img {
    margin-right: 10px;
}

.second-content-group>.list {
    list-style: none;
    background: var(--blue);
    margin: 0;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.second-content-group>.list>li {
    flex: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
}

.second-content-group>.list>li>a {
    padding: 0 30px;
    color: var(--dark-gray);
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-decoration: none;
    height: 100%;
    width: calc(100% - 60px);
    display: flex;
    align-items: center;
}

.second-content-group>.list>li>a:hover {
    color: white;
    background: rgba(0, 0, 0, 0.08);
}

.second-content-group>.list span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

footer {
    background: url("../img/map.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #3a4148;
    background-size: contain;
}

.footer-content {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    /* overflow: hidden !important; */
}

.footer-sot-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media all and ( max-width: 1200px) {
    .footer-sot-icons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
}

.footer-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
}

@media all and ( max-width:768px) {
    .footer-body {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.footer-bottom {
    background: #343a41;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.footer-content .title {
    margin: 20px 0;
    font-size: 16px;
    line-height: 19px;
    color: #dbdcde;
    /* border-bottom: 2px solid var(--red); */
    /* text-decoration: unset; */
}

.footer-content a,
.footer-content p {
    font-weight: bold;
    font-size: 13px;
    line-height: 100%;
    color: #dbdcde;
    margin-bottom: 12px;
    text-decoration: none;
}

.footer-content>div:first-child>div:last-child>div {
    margin-top: 50px;
}

.logo {
    margin-top: 50px;
}

.sm {
    border: 1px solid #9d9d9d;
    border-radius: 50%;
    width: 50px;
    transition: all 0.2s linear;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    cursor: pointer;
}

.sm:not(:last-child) {
    margin-right: 20px;
}

.sm:hover {
    background-color: var(--red);
}

.footer-bottom p {
    font-size: 14px;
    line-height: 16px;
    color: #dbdcde;
}