.board-page {
    /* background-color: red; */
    padding: 0 20px;
}

.board-page div .person-card {
    display: flex;
    width: 100%;
    align-items: center;
    align-content: start;
    justify-content: space-between;
    /* padding: 50px; */
    padding-bottom: 50px;
    margin-right: 50px;
    /* margin-bottom: 50px; */
}

.board-page div .person-card .left-info {
    display: flex;
    align-items: center;
    align-content: center;
}

.slide-down-icon {
    transition: all 0.2s linear;
}

.slide-down-icon-active {
    transform: rotate(180deg);
}

.board-page div .person-card .left-info .image-person {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.board-page div .person-card .left-info .image-person img {
    width: 215px !important;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
}

@media all and ( max-width:768px) {
    .board-page div .person-card .left-info .image-person img {
        width: 115px !important;
        height: 115px !important;
    }
}

.board-page div .person-card .left-info .center-info {
    margin-left: 153px;
    transition: all 0.2s linear;
}

@media all and ( max-width:768px) {
    .board-page div .person-card .left-info .center-info {
        margin-left: 13px;
        transition: all 0.2s linear;
    }
}

.board-page div .person-card .left-info .center-info h4 {
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.board-page div .person-card .left-info .center-info p {
    color: rgba(160, 160, 160, 1);
}

.person-card-wrap .under-card-info {
    display: none;
}

.person-card-wrap .under-card-info h4 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.person-card-wrap .under-card-info ul li {
    color: grey;
}

.person-card-wrap {
    margin-bottom: 50px;
    border-bottom: 2px solid lightgrey;
}

#slideDown {
    margin-right: 50px;
    transition: all 0.2s linear;
    /* transform: rotate(90deg); */
}

#slideDown:hover {
    cursor: pointer;
}